language: java

jdk:
  - oraclejdk11

services:
  - docker

# skip `mvn install` command
install: true

cache:
  directories:
    - .autoconf
    - $HOME/.m2

script:
  - mvn -Dkeycloak.version=$KEYCLOAK_VERSION clean verify -B -V

before_deploy:
  - mkdir -p ./releases
  - cp -a config-cli/target/config-cli.jar "releases/config-cli-${KEYCLOAK_VERSION}.jar"

deploy:
  - skip_cleanup: true
    provider: script
    script: /bin/bash .travis/docker_push.sh
    on:
      tags: true
      # matches: vX.Y.Z, vX.Y.Z-A, vX.Y.Z-A-B.C.D, vX.Y.Z-A-B.C.D-E
      condition: "$TRAVIS_TAG =~ ^v([[:digit:]]+\\.)+[[:digit:]]+(-[[:digit:]]+)?(-([[:digit:]]+\\.)+[[:digit:]]+(-[[:digit:]]+)?)?$"

  - skip_cleanup: true
    provider: releases
    api_key:
      secure: FIuwkoSRs6i1yEoCoiRpMcY+IGhpL5VH8w5Dj9s/apSLSyIFqTH3MKBMHY8PLIfEBtBQelTmEzdEcccoKqpX2dm0ctisF0ozJLkSLeXUgRojMEW9YbRk5xtJ5BJzSuB7+XGP6uEqQk/n/R9w3oO3cIiyX9jks4dLYY6IjXD8ivNJbk7C6u0c1Hp44rRqf/yT4HxRgxv2pvatwY2nv82s3O+uE6FXddIZ0cPJm4kt7tIUT0ER6UdHzNKVvVHLKncwgsOEBk3sWyU1N9xXbCTAdy3T/ay3in7tQ4R4sWQAnx54dGU2c+uHmxVmbuGS398PFBCVveOWtNpEOWxdt/fPVqpliDwD/EbHRNbs1C/V/0tGxrGUb3flSSMa5hUhgJlaxA+jC1M3gRmVH56kcSzhV5zuuyzM3Wn+uqF3ZL/8+D0KKj/EDLt/UQwQ1/Lh5re+Fwetc8xxfQiraz2X+FbZUN94veARGu572ZhIgx7yKBxF/APf60yn2edlbeuv3NU6KL5+NUxFTCmjrWO9otx3kA7YH/5+TMUaKolk5l92kUUKGrZDp8q0XOMgFDrE6z1i+t+GcXfC3iCPoB1SSVxTVOgJ6dZXwPwYLfUzPQbMRMMWUv7tGnjNM1B4eqzJc53All/o58EYypTiwjuUL4nDj7Cl6/AlDzJdOaysm5guyyA=
    file: releases/config-cli-${KEYCLOAK_VERSION}.jar
    on:
      tags: true
      # matches: vX.Y.Z, vX.Y.Z-A, vX.Y.Z-A-B.C.D, vX.Y.Z-A-B.C.D-E
      condition: "$TRAVIS_TAG =~ ^v([[:digit:]]+\\.)+[[:digit:]]+(-[[:digit:]]+)?(-([[:digit:]]+\\.)+[[:digit:]]+(-[[:digit:]]+)?)?$"
      repo: borisskert/keycloak-tool

after_success:
  - bash <(curl -s https://codecov.io/bash)

env:
  matrix:
    - KEYCLOAK_VERSION=8.0.2 IS_LATEST=false
    - KEYCLOAK_VERSION=9.0.0 IS_LATEST=true
  global:
    - DOCKER_IMAGE_NAME=borisskert/keycloak-tool
    # export DOCKER_HUB_USER=[secure]
    - secure: "Jq9mcMREaYtnc57WeGlu3VplZPnfLb+y1XDIg2XTpzgtjWrhKQ+PJzX/LeJK0xi0Xqv2hM/h96lcrL+8p+58Ab8qJfLw44ZezEj28ubYHPt5ALVlbvzjMzOfCunx4luJxUb9cRZtnln7SpDnoCCf7kFiHSzXKtf1sO5ySOz7hc8hHcY5Ls5VDM/zuEmqunYY8LsdaLLV4gkxhsJc3JHlnvc+Xb2mlZYIbCJRN4c6klIhLIP0HjakPLXXrl/nqyxNOQmWTLRhzzsjgQwIlHgRWnKmbhLB5uVq0sy2ppsrPmri31XTbLe5ApS2H158d2Cc59obAa7e90cd0e7wZt1jRQMQBe1SyFXnf3+t8lG4wAi7g7M+yqNXNsp5xuciRmhf3DaylEfYqfNC6Rgaeyf3/4q+THH5lPDNQVG85DR9AzFq6BKPA1ywL3L8mrQH5bPaQvO+vwjdRyDLqCn5SPI8BzPNhN4Q1LsQL8K7ik45W3oaveFRjNES4cEJzRJTvnmtGcA+BkqidmdbfM6AJKHe1iBIfXRJ1ucXLIZ6LGMjuWp6vMrEZSmijPtqOVx5ozbH9cyn2Mxo57N66YvLxrVYGND94kzS3DFyU0zLgHUxEqsqhtyL6JF4ahr3HWA209BwMG2RfzJmWRYp8yi7XbNOvZ+8FmgexKKftg4TtGif4qE="
    # export DOCKER_HUB_PASSWORD=[secure]
    - secure: "DQSr3hcutPB5hWIG5YZW2Ogk2PRyQWL/Vu6cP6G6yyk4nigFdlkChxtkRYeDM5+hmbo/CL5x6Tq2Ynt0ESumE+4W9G7C3jpjgXcdrv79MMBPEEQmxZm+0gf5eQaYdQcUOWA3Enmik7HqdTlsn14SiqDwgI7KXqybCzOSWBHctzSwJdkjsNh0jJZm7Pmg8ouZIZOBcYnd48550arFcZWJj/sXC5HMhAc4bXcUwtzusapWQMqN8l6jqGzvTWJCxfhq0O2ZnNU8M2ZgFBwWquNgZ5pKrxRIlgGUDifu1dLMTQ2Bh5DDa217Kt+PwcGBZ56SRkx0l8M28gSxO5dyQW9CTEcsMEvHci/aZEUxDAmvTRG6bMngevhFl5qheu+WsguaMp8oPDsgqgkifuBIz7N+NgMmnJjRDQvq5iDN9ivEbhGUmqA3WBQ90aeJ3mVoh79vh9l5qZOym7rQ4D2wceNK78+M6T5YUNZ1chRZpSA3oU+/bIYXPMfncW08HiZX/ZG17hcgwZDwCmtIF8ewJX0BktJEDhSfPDFLZOHB5XfUA/bNC3MgAITB/cfiLABGKPQJF51Ba+ZkNUDD+IIJH3koDgd+Gmx2yRqLzcnJOKQwxaneGi21VuF3L08nzNeB7ctwpLwr77e9IgT/dB0wu7MQ9JF0RTEGa6FbT5QJ5kq4SeM="
    # export CODECOV_TOKEN=[secure]
    - secure: "Xa9aIwZfh0VQyJf7xRyUjoV3rFLVSPsnnY40peDslU76fuFfr5GyGqDiB33XRt3Y626aNAk+lil9/JXV1WDqXKR01bjbc3P43Z4MRhZtQBMTASdKKMrGOjGQ1y78HSNEMu2iJNW5a/mywjL7eQK5kWC/a8DsWPY06eUhCJMyksLQxoHDIpmnmjWB8DbCMillHRhzMl415Q5/ZLa3rkiWERv0pdzRbPBR0o4f+WX00Jc4RhNblyp454dSCxr/Bdct9NZawnE+dKGSBHYI6umk9TVSSx/ISih9Bx01AKd83xawS2Ee/KWZS6kyWLzgxy4H+hZKfjcWJQpZYqvTWwleu8ddP6TPRyraSL18wMKA3Q/4Q0cHGW6IpbK7sL0/xCZpgZfxelIdj+XiOaVhpfT4W4WhMZIe1SFpv1aWEx6mGzTRNcbQ3cRsp35ihk+Qxb35PEeTTNkReOURNdNhwPPTlrhJH6zLaAHqqdGNxtllT75ebv7gvsDsrK9DxgTg8zd5g/DICa/DufvxDHawBi6tijwrGqlySZ6SiRBZRMKPQfRvs8UyGVsFP8rrjNjWwO3q7tNgOJ8usaRun92hoZKgpv7UKchj+g2SmOyw3l1ZaqXxoAK4SbFenn8WdOeu5EHDE1RWy5LxLIzGQJVZprMoqrhR4LMJCIs05a2LvNI5678="
